*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    border: 2px solid black;
}

.hero h1{

}

.hero h1 span{

}

textarea{
    resize: none;
}

select{
    width: 50%;
    height: 50px;
    width: 500px;
    appearance: none;  
    background-color: rgb(146, 182, 223);
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
}